
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #container{
            background-color:#808080;
            border:thick solid #00ffff;
            padding:20px;
            margin:20px;
        }
    </style>
</head>
<body>
    <div id="container">
        <input id="message" type="text" />
        <input id="sendMessage" type="button" value="Send" />
        <input id="displayName" type="hidden" />
        <ul id="discussion"></ul>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>

    <script src="~/signalr/js"></script>
    <script src="~/Scripts/chatScrip.js"></script>
</body>
</html>
